<p>Ola {{student}}!, voce nos fez uma pergunta, e aqui está a resposta !<br/>
 Confira a baixo os detalhes :)</p>
<p>
  <table style="text-align: center; margin:auto;">
    <tr style="padding: 25px; text-align: left;"><td><strong>Pergunta: </strong></td><td>{{question}}</td></tr style="padding: 25px; text-align: left;">
    <tr style="padding: 25px; text-align: left;"><td><strong>Resposta: </strong> </td><td>{{answer}}</td></tr style="padding: 25px; text-align: left;">
  </table>
  <br/>
</p>

