<p>Seja bem vindo ao GymPoint, estamos felizes em te-lo conosco, <br/>
 Confira a baixo os detalhes do seu plano :)</p>
<p>
  <table style="text-align: center; margin:auto;">
    <tr style="padding: 25px; text-align: left;"><td><strong>Plano: </strong></td><td>{{plan}}</td></tr style="padding: 25px; text-align: left;">
    <tr style="padding: 25px; text-align: left;"><td><strong>Duração: </strong> </td><td>{{duration}} messes</td></tr style="padding: 25px; text-align: left;">
    <tr style="padding: 25px; text-align: left;"><td><strong>Data termino:</strong> </td><td> {{date}} </td></tr style="padding: 25px; text-align: left;">
    <tr style="padding: 25px; text-align: left;"><td><strong>Preço Total: </strong></td><td> R$ {{price}},00 </td></tr style="padding: 25px; text-align: left;">
  </table>
  <br/>
  <small>
    Qualquer duvida, pode entrar em contato conosco por este mesmo e-mail
  </small>
</p>

